.ylabanneri{
    width: 100%;
    height: 6em;
    background-color: white;
    color: blue;
    border-bottom-style: solid;
    border-bottom-width: 1.5em;
    border-bottom-color: #333333;
}
.itselogo{
    position: absolute;
    top: 4em;
}

.ylavalintaoikea{
    width: 90%;
    display: inline;
    float: right;
}
.ylavalintavasemmalle p{
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: black;
    float: right;
    display: inline;
    
}
.ylavalintavasemmalle a{
    text-decoration: none;
    font-size: 0.7em;
    color: #2AB4FD;
    font-variant: normal;
    padding-right: 0.4em;
    padding-left: 0.4em;
    padding-bottom: .4em;
    padding-top: 0.4em;
}
.kieli p{
    display: inline;
    border: none;
    padding-left: 0.5em;
}
.valilehdet{
    position: absolute;
    top: 5.3em;
    left: -2.5em;
    border: 0;
}
.valilehdet ul{
    margin-left: 1em;
}
.valilehdet ul li{
    list-style: none;
    width: 7.3em;
    height: 1.5em;
    background-image: url(pictures/saa.png);
    padding-top: 0.73em;
    text-align: center;
}
.valilehdet ul li a{
    text-decoration: none;
    color: white;
}
.ylatunniste{
    min-height: 10em;
    background-image: url(pictures/taivas.png);
    background-repeat: no-repeat;
    padding-top: 0.9em;
    padding-bottom: 0.5em;
    
    padding-left: 11em;
    margin: 0;
    z-index: 4;
}
.ylatunniste label{
    padding-right: 0.3em;
    color: white;
}
.paikkahakukentta{
    color: #D6D9DC;   
}
.pallura{
    display: inline;
    vertical-align: bottom;
}
.vasennavi{
    background-image: url(pictures/vasenbanneriyla.png);
    
    
    
    background-repeat: repeat-y;
    position: absolute;
    width: 10em;
    left: 1.2em;
    margin: 0;
    z-index: 5;
    top: 9.5em;
}
.vasennavi p{
    padding-left: 0.3em;
    padding-bottom: 0em;
}
.vasennavi .paikkakunta{
    padding-left: 0.5em;   
}
.vasennavi .sijaintikartalla{
    padding-left: 0.8em;
    font-size: 0.7em;
}
.vasennavi .vasenkuva{
    display: inline;
    padding: 0;
}
.vasennavi .juha{
    float: right;
    clear: left;
}
.vasennavi .blogi p{
    font-size: 0.7em;
    font-weight: bold
}
.vasennavi .blogi .nimipaiva p{
    display: inline;   
}
.vasennavi .blogi .nimipaiva .blue{
    color: blue;   
}
.vasennavi ul{
    padding-left: 0.5em;
    list-style-position: inside;
    list-style-image: url(pictures/listavakanen.png);
}
.vasennavi ul li{
    vertical-align: middle;
    padding-bottom: 0.5em;
    padding-top: 0em;
    font-family: Verdana, Arial, sans-serif;
    font-size: 0.6em;
    font-weight: bold;
    height: 1.2em;
}
.sisalto{
    max-width: 40.5em;
    position: absolute;
    margin-right: 1em;
    background-color: white;
    padding-left: 2em;
    width: 72%;
    top: 13em;
    left: 11em;
}

.sisaltoyla{
    max-width: inherit;
    display: inline;
    background: white;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #D1E9FF;
    border-bottom-width: 2px;
    color: #01B2F2; 
    font-size: 0.8em;
    float: left;
    min-width: 35em;
}
.sisaltoylavasen p, img {
    max-width: inherit;
    display: inline; 
    vertical-align: middle;
}
.sisaltoyla div{
    float: left;
}
.sisaltoyla .sisaltoylaoikea{
    float: right;
    padding-top: 0.5em;
}
.sisalto .ennustekarttasuomi{
    max-width: inherit;
    display: inline;
    float: right;
}
.sisalto .ennustekarttasuomi p{
    max-width: inherit;
    float: right;
    color: #01B2F2;
    font-size: 0.8em;
    font-weight: bold;
}
.sisalto .kaupunki{
    float: left;
    color: #01B2F2;
    font-size: 1.1em;
}
.tasmasaa{
    max-width: inherit;
    clear: both;
    font-size: 0.8em;
    font-weight: bold;
    background-color: #D1E9FF;
    margin-bottom: 0.8em;
    padding: 0.2em;
}
.viimeisimmathavainnot, .maailmansaajuurinyt{
    max-width: 25em;
    clear: both;
    font-size: 0.8em;
    font-weight: bold;
    background-color: #D1E9FF;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    padding: 0.2em;
}
.havaintoasema{
    font-size: 0.7em;
}
.viimeisin{
    font-size: 0.7em;
    
}
.kuumimpiapaikkoja, .kylmimpiapaikkoja{
    max-width: 25em;
    clear: both;
    font-size: 0.8em;
    font-weight: bold;
    background-color: #EBF5FE;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
    padding: 0.2em;
}
.paikat{
    font-size: 0.8em; 
}
.plussaa{
    color: red;   
}
.miinusta{
    color: blue;   
}

body {
    max-width: 52.5em;
    width: 95%;
    min-width: 620px;
    min-height: 300px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    font-family: Arial, Helvetica, sans-serif;
}