<!DOCTYPE html>
<html>

<head>
  <title>Laskuri 2.0 - etusivu</title>
  <link href="http://www.w3.org/StyleSheets/Core/Steely" rel="StyleSheet" type="text/css" />
</head>

<body>

<h1>Tervetuloa Laskuri 2.0:aan!</h1>
<p>Tunnuksesi on: {{ session['tunnus'] }}</p>
<p>Ja sinun id on: {{ session['id'] }}</p>
<h3>Omistat seuraavat laskennot:</h3>
<form action="{{request.base_url}}" method="POST">

<p>
    {% for p in session['adders'] %}
        <fieldset>
        <a href="http://users.jyu.fi/~veojala/cgi-bin/laskuri_UI/flask.cgi/count?adderid={{ p['AdderID'] }}">{{ p['Name'] }}: {{ p['Button1'] }}, {{ p['Button2'] }}, {{ p['Button3'] }}, {{ p['Button4'] }}</a>
        </fieldset>
    {% endfor %}
</p>

<h5><a href="http://users.jyu.fi/~veojala/cgi-bin/laskuri_UI/flask.cgi/createnew">Luo uusi laskento</a></h5>

<h3>Omistat seuraavat laitteet:</h3>

<p>
    {% for p in laitteet %}
        <p>Laitteen nimi: <a href="http://users.jyu.fi/~veojala/cgi-bin/laskuri_UI/flask.cgi/device?deviceid={{ p['DeviceID'] }}">{{ p['Name'] }}</a></p>
        <p>Lyhyt kuvaus laitteesta: {{ p['Description'] }}</p>
        {% for k in session['activeondevice'] %}
            {% if k['deviceid']|int() == p['DeviceID']|int() %}
                {% for i in session['adders'] %}
                    {% if i['AdderID']|int() == k['adderid']|int() %}
                        <p>Aktiivisena tässä laitteessa on: {{ i['Name'] }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}
</p>
</form>

<a href="http://users.jyu.fi/~veojala/cgi-bin/laskuri_UI/flask.cgi/logout">Kirjaudu ulos</a>


</body>

</html>