<!DOCTYPE html>
<html>

<head>
  <title>Täällä voit luoda uuden laskennon</title>
  <link href="http://www.w3.org/StyleSheets/Core/Steely" rel="StyleSheet" type="text/css" />
</head>

<body>

<h1>Täytä kohdat, ja klikkaa Luo</h1>

<p>{{ nimi }}</p>

<form action="{{request.base_url}}" method="POST">
<p>
<label>Laskennon nimi (AdderName): <input type="text" required="required" name="AdderName" /></label>
</p>
<p>
<label>Painikkeen 1 teksti: <input type="text" required="required" pattern=".{1,7}" required title=" vähintään 1 ja korkeintaan 7 merkkiä" name="button1" /></label>
</p>
<p>
<label>Painikkeen 2 teksti: <input type="text" required="required" pattern=".{1,7}" required title=" vähintään 1 ja korkeintaan 7 merkkiä" name="button2" /></label>
</p>
<p>
<label>Painikkeen 3 teksti: <input type="text" required="required" pattern=".{1,7}" required title=" vähintään 1 ja korkeintaan 7 merkkiä" name="button3" /></label>
</p>
<p>
<label>Painikkeen 4 teksti: <input type="text" required="required" pattern=".{1,7}" required title=" vähintään 1 ja korkeintaan 7 merkkiä" name="button4" /></label>
</p>
<p>
<input type="submit" name="luoUusi" value="Luo uusi laskento" />
</p>
</form>

<p><a href="http://users.jyu.fi/~veojala/cgi-bin/laskuri_UI/flask.cgi/etusivu">Takaisin etusivulle</a></p>

</body>

</html>